@model List<Hakkimizda>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<div class="content">
	<div class="wrap">
		<div class="about">
			<h3>Hakkımızda</h3>
			@foreach(var x in Model)
			{
			<img src="@x.FotoUrl" alt="" />
				<p style="font-size:12pt; font-family:Cursive">@x.Aciklama</p>
			}

		</div>
	</div>
</div>